# EditorConfig ayuda a los desarrolladores a definir y mantener estilos de codificación consistentes entre diferentes editores e IDEs.
root = true

[*]
# Estilo y tamaño de indentación unificado
indent_style = space
indent_size = 2

# Forzar fin de línea estándar de Unix (evita conflictos de formato invisibles)
end_of_line = lf

# Codificación global de caracteres estándar sin marcas de orden de bytes (BOM)
charset = utf-8

# Limpieza automática al guardar
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
# En archivos Markdown, los espacios al final son necesarios para indicar saltos de línea duros
trim_trailing_whitespace = false

[package.json]
# Algunos gestores de paquetes prefieren mantener sus archivos JSON de dependencias con formato nativo
indent_size = 2
