@import 'tailwindcss';
@plugin 'daisyui';
@import '@fontsource-variable/roboto/index.css';

@theme {
  /* Registramos la fuente para usarla con la clase 'font-sans' */
  --font-sans: 'Roboto', sans-serif;
  --font-display: 'Fira Code', monospace;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --primary: #3e4799;
  --secondary: #dfee14;
}
