@import "tailwindcss";

@theme {
  --font-sans: sans-serif;
  --font-display: "Fira Code", monospace;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --primary: #3e4799;
  --secondary: #dfee14;
}
